@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  pointer-events: none !important;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}




/* For Firefox */
html, body {
  scrollbar-width: none; /* hides scrollbar */
}

/* For Chrome, Edge, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* hides scrollbar */
}